extends layout

block content
  h1= title
  p Welcome to #{title}

  #map(style="width:100%; height:500px;")
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBHz_r7QZ3oU4az4KR0R_vO8YeoLuNtU5w')
  script(src='https://code.jquery.com/jquery-3.1.1.min.js')
  script(src='/javascripts/map.js')
  

  div
  | Icons made by 
  a(href='http://www.flaticon.com/authors/freepik', title='Freepik') Freepik
  |  from 
  a(href='http://www.flaticon.com', title='Flaticon') www.flaticon.com
  |  is licensed by 
  a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC 3.0 BY
